<nav class="navbar navbar-default navbar-static-top navbar-inverse">
	<div class="container">
		<ul class="nav navbar-nav">
			<li class="active">
				<a href="/">
					<img src="/logo.png" height="55px" width="55px"/>
				</a>
			</li>
		</ul>
	
		<ul class="nav navbar-nav navbar-right">
			<li class="navbar-right">
				<br>
				<a href="../about">About</a>
			</li>
		</ul>
	</div>
</nav>
