<!DOCTYPE html>
<html>
<head>
	<% include ../partials/nav.ejs %>
	<% include ../partials/header.ejs %>
  <script>
  
	</script>
</head>

<body>
	<section id="about">
		<div class="container">
			<h1>About</h1>
		</div>
		
		
	</section>
</body>
</html>