<!DOCTYPE html>
<html>
<head>
	<% include ../partials/nav.ejs %>
	
	<div class="jumbotron text-center">
		<div class="container">
			<a href="/" class="logo">
				<img src="/logo.png" height="200px" width="200px"/>
			</a>
			<h1>About</h1>

		</div>
	</div>
	
</head>

<body>
	<section id="about">
		<div class="container">
			<p class="description">
				<h2>Description</h2>
				<p>
					Welcome to PAWdoption!
				</p>
				<p>
					PAWdoption helps users find rescue dogs that are appropriate for their lifestyle.
					Users can also search through the full list of dogs or search for dogs by shelter.
				</p>
				<h2>Note</h2>
				<p>
					This site contains a fictional database of animal rescue organizations and adoptable rescue dogs.
					<br>
					The values have been randomly generated and don't necessarily make sense.
					<br>
					:)
				</p>
			</p>
		</div>
		
		
	</section>
</body>
<% include ../partials/footer.ejs %>
</html>