<!DOCTYPE html>
<html>
<head>
	<% include ../partials/nav.ejs %>
	
	<div class="jumbotron text-center">
		<div class="container">
			<a href="/" class="logo">
				<img src="/logo.png" height="200px" width="200px"/>
			</a>
			<h1>Adopt a dog</h1>
		</div>
	</div>
	
</head>

<body>
	<section id="adopt">
		<div class="container">
			<h1>
			<p>Login</p>
			</h1>
			
			
			<p><a href="/adopt-signup">Sign up</a></p>
			<p><a href="/guest">Continue as guest</a></p>
			
		</div>
		
		
	</section>
</body>
</html>