<!DOCTYPE html>
<html>
<head>
	<% include ../partials/nav.ejs %>
	
	<div class="jumbotron text-center">
		<div class="container">
			<a href="/" class="logo">
				<img src="/logo.png" height="200px" width="200px"/>
			</a>
			<h1>Find a dog</h1>
		</div>
	</div>
	
</head>

<body>
	<section id="find">
		<div class="container">

			<!--div class="row">
				<h1>Find a specific type of dog</h1>
			</div>
			
			
			<div class="row">
				<div class="col-md-7">
					<h1>Foster?</h1>
					<a href="/foster"><button type="button">Click here!</button></a>
				</div>
				
				<div class="col-md-3">
					<h1>Adopter?</h1>
					<a href="../adopt"><button type="button">Click here!</button></a>
				</div>
			</div-->
			
		</div>
		
		
	</section>
</body>
<% include ../partials/footer.ejs %>
</html>