<!DOCTYPE html>
<html>
<head>
	<% include ../partials/nav.ejs %>
	
	<div class="jumbotron text-center">
		<div class="container">
			<a href="/" class="logo">
				<img src="/logo.png" height="200px" width="200px"/>
			</a>
			<h1>Foster a dog</h1>
		</div>
	</div>
	
</head>

<body>
	<section id="foster">
		<div class="container">
			Test
		</div>
		
		
	</section>
</body>
</html>