<!DOCTYPE html>
<html>
<head>
	<script type="text/javascript" src="../../index.js"></script>
	<script>
		function generate_random() {
			
			document.getElementById("random_dog").innerHTML = "Hello World";
		}
	</script>
	
	<% include ../partials/nav.ejs %>
	
	<div class="jumbotron text-center">
		<div class="container">
			<a href="/" class="logo">
				<img src="/logo.png" height="200px" width="200px"/>
			</a>
			<h1>Welcome to PAWdoption!</h1>
		</div>
	</div>
	
</head>

<body>


	<div class="container">
		<div class="row">
			<h1>Sign in to find your perfect dog!</h1>
			<form action="/login" method="post" style="margin-top: 20px;">
				<label for="username"></label>
				<input type="text" class="form-control" style="width: 50%; margin: 0 auto; margin-top:10px;" id="username" placeholder="Username">
				
				<label for="password"></label>
				<input type="password" class="form-control" style="width: 50%; margin: 0 auto; margin-top:10px;" id="password" placeholder="Password">
				
				<input type="submit" value="Login">
			</form>
			<a href="/signup">Don't have an account? Sign up here.</a>
			<br>
			<a href="/guest">Or continue as guest.</a>
			<br><br>
		</div>
		
		
		<div class="random_dog" role="alert">
			Click to generate a random adoptable dog!
			<br>
			<button onclick="generate_random()"><3</button>
			<p id="random_dog"></p>
		</div>
	  
		<div class="info">
			<form method="post" action="/">
				<input type="text" name="input">
				<input type="submit">
			</form>
		</div>
	</div>


</body>
<% include ../partials/footer.ejs %>
</html>
