<!DOCTYPE html>
<html>
<head>
	<% include ../partials/nav.ejs %>
	
	<div class="jumbotron text-center">
		<div class="container">
			<a href="/" class="logo">
				<img src="/logo.png" height="200px" width="200px"/>
			</a>
			<h1>Log In</h1>
		</div>
	</div>
	
</head>

<body>
	<section id="about">
		<div class="container">
			<div class="row">
				<h1>Sign in to find your perfect dog!</h1>
				<form style="margin-top: 20px;">
		  	  		<fieldset class="form-group" style="margin-bottom: 0">
		  				<label for="formLoginUser"></label>
    			  		<input type="text" class="form-control" style="width: 50%; margin: 0 auto; margin-top:10px;" id="formLoginUser" placeholder="Username">
  			  		</fieldset>
  			  		
  			  		<fieldset class="form-group" style="margin-bottom: 0">
		  				<label for="formLoginPassword"></label>
    			  		<input type="password" class="form-control" style="width: 50%; margin: 0 auto; margin-top:10px;" id="formLoginPassword" placeholder="Password">
  			  		</fieldset>
  			 		<a type="button" class="btn btn-lg btn-primary" style="color: #ffffff; margin-top: 20px;" href="">Login</a>
  			 	</form>
				<a href="/signup">Don't have an account? Sign up here.</a>
				<br>
				<a href="/guest">Or continue as guest.</a>
			</div>
		</div>
		
		
	</section>
</body>
<% include ../partials/footer.ejs %>
</html>